/*----------
  VARIABLE
 ----------*/

:root {
  --top-bar: #EAEAEA;
  --bottom-bar: #F3EEEB;
  /* Backgrounds */
  --bg-green: #009587;
  --bg-grey: #DCDBD1;
  --bg-notification: #8FDAFC;
  --bg-message-sent: #D4F9BB;
  /* Colors */
  --grey: #B5BABC;
}