/*----------
    DEBUG
 ----------*/

.debug main::after {
  content: "MOBILE";
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: black;
  color: white;
}

[v-cloak] {
  display: none;
}

/*--------------------
       COMMON
--------------------*/

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  height: 100vh;
  display: flex;
}

main {
  height: 100%;
  width: 100%;
}

.only-desktop {
  display: none;
}

.user-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/*--------------------
     COLUMN USERS
--------------------*/

.col-users {
  display: none;
}

.user-content {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.users-box {
  display: flex;
  height: 100px;
}

/* MY USER */

#my-user {
  background-color: var(--top-bar);
}

.my-user-box {
  height: 80px;
  display: flex;
  padding: 0 20px;
}

#my-user i {
  padding-left: 20px;
  font-size: 25px;
  color: var(--grey);
}

/* NOTIFICATION */
#notification {
  display: flex;
  height: 100px;
  background-color: var(--bg-notification);
}

#notification i {
  font-size: 30px;
  padding: 20px 17px;
  color: var(--bg-notification);
  background-color: #f2fbff;
  border-radius: 50%;
  margin: 15px;
}

#notification a {
  color: grey;
}

/* SEARCH */
#search {
  height: 60px;
  background-color: #fafafa;
  /* padding: 10px; */
}

.search-bar {
  padding: 10px;
  height: 100%;
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: 1px;
  display: flex;
}

.search-bar input {
  height: 100%;
  width: 100%;
  border: none;
}

.search-bar i {
  color: var(--grey);
  font-size: 18px;
  padding: 0 10px;
  line-height: 35px;
}

/* USERS */
#users {
  height: calc(100% - 80px);
  overflow-y: scroll;
}

#users .user-content {
  background-color: white;
}

#users .user-content:hover {
  background-color: var(--top-bar);
}

.user-name {
  max-width: 200px;
  overflow: hidden;
}

/*--------------------
    COLUMN MESSAGE
--------------------*/

.col-message {
  width: 100%;
  height: 100%;
}

/* SECTION NAME */
#name {
  height: 80px;
  background-color: var(--top-bar);
  font-size: 17px;
}

#name img {
  margin: 0 30px;
}

#name .content-name p:last-child {
  color: grey;
}

#name .content-left {
  width: 100%;
}

#name .content-right {
  display: none;
}

#name .content-right i {
  padding: 0 10px;
  font-size: 25px;
  color: var(--grey);
}

/* SECTION MESSAGE */
#message {
  height: calc(100% - 160px);
  background-image: url("../../img/mine.jpg");
  padding: 40px 30px;
  overflow-y: scroll;
}

#message .message-box {
  font-size: 19px;
  position: relative;
  border-radius: 20px;
  padding: 20px 30px 30px 20px;
  width: 80%;
  margin-bottom: 15px;
}

#message .sent {
  float: right;
  background-color: var(--bg-message-sent);
}

#message .received {
  background-color: white;
}

#message .message-box i {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--grey);
}

#message .message-box .time {
  position: absolute;
  font-size: 15px;
  bottom: 5px;
  right: 15px;
  color: var(--grey);
}

.options {
  background-color: white;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
}

.options button {
  background-color: transparent;
  display: block;
  width: 100%;
  height: 50px;
}

.options button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.options button:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* SECTION WRITE */
#write {
  padding: 0 30px;
  height: 80px;
  background-color: var(--bottom-bar);
}

#write i {
  display: none;
  padding: 0 20px;
}

#write input {
  height: 70%;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  font-size: 20px;
  padding-left: 20px;
}
